.main-nav {
    background-color:rgb(67,192,246);
    font-family: Arial, Helvetica, sans-serif;
  }
  .main-logo {
    height: 50px;
    width: 150px;
  }
  
  .navbar-brand {
    padding-left: 5%;
  }
  .nav-link {
    font-weight: 600;
    color: #fff !important;
  }
  .register {
    justify-content: right;
  }
  
  .student-column {
    border-right: 1px solid #000;
  }
  
  .align-center {
    text-align: center;
  }
  h1 {
    font-weight: bolder;
    color: #3d3c3c;
    font-size: 15px !important;
    font-weight: 700;
  }
  
  .students-img {
    margin-top: 30%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 20%;
    max-height: 180px;
    max-width: 180px;
    width: 180px;
    height: 180px;
  }
  
  .teacher-img {
    margin-top: 30%;
    margin-right: 20%;
    margin-bottom: 5%;
    margin-left: 20%;
    max-height: 180px;
    max-width: 180px;
    width: 180px;
    height: 180px;
  }
  .login-label {
    padding-right: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    
  }
  
  .login-link {
    color: #707070 !important;
  
    &:hover {
      text-decoration: underline;
      font-weight: 600;
      text-decoration-color: rgb(67,192,246);
      text-decoration-thickness: 3px;
        
    }
  }
  
  .active {
    text-decoration-color:rgb(249,28,133);
    text-decoration-thickness: 5px;
  }
  
  .signup-label {
    padding-right:25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
    font-size: 12px;
  }
  .signup-link {
    color: #707070 !important;
    
    
  
    &:hover {
        text-decoration: underline;
        font-weight: 600;
        text-decoration-color: rgb(249,28,133);
        text-decoration-thickness: 3px;
    }
  }
  
  .input-radius {
    border-radius: 10px !important;
    box-sizing: inherit;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    height: 30px !important;
    width: 200px !important;
    font-size: 12px !important;
    margin-top: 10px !important;
    margin-bottom: 30px !important;
  
    
   
    //margin-block: 10px 20px;
    //margin-left: 5px;
    //float: center;
    
  
    
  }
  
  .btn-pink {
    justify-content: center !important;
    text-align: justify !important;
    width: 170px !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
    margin-bottom: 20px !important;
    margin-left: 10px !important;
    padding-top: 5px !important;
    padding-right: 200px !important;
    padding-left: 60px !important;
    padding-right: 10px !important;
    background-color:rgb(249,28,133) !important;
    border:1px solid rgb(249,28,133) !important;
    font-weight: 700 !important;
    font-size: 13px !important;
    box-shadow: 0 3px 9px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19) !important;
  //next thing to do is setState for Login/SignUp
  }
  
  .mb-30 {
    margin-bottom:30px;
  }
  
  .form-center {
    margin-left:20%;
  }
  